.redes {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

    .re-cont {
        background-color: #2c3691;
        border-radius: 5px;
        border: 1px solid #dddbd5;
    }

    .redes svg {
        fill: #fff;
        padding: 8px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .cl-p {
        cursor: pointer;
    }

    .con-re:hover {
        background-color: #171b4262;
        border-radius: 5px;
    }